body {
  text-align: center;
}
.page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  padding-top: 20px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
input[type="submit"] {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
input[type="submit"]:hover,input[type="submit"]:active,input[type="submit"]:focus {
  background: #43A047;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.icon {
  font-size: 25px;
  padding-bottom: 15px;
}
.ms {
  font-size: 15px;
  color: #555;
}


.iconm { 
  padding-left: 15%;
  display: inline-block;
  font-size: 35px;
}
.snippets-list{
  padding: 20px;
  margin: 30px;
  border: 1px solid #D3D3D3;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.24);

}
.snippet-button{
  text-align: center;
  padding: 20px;
  margin: 10px;
  border: 1px solid #D3D3D3;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.24);
}
.snippet-button:hover, .mbutton:hover{
  background-color: #EEE;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.24);
  cursor: pointer;
}
.snippet-button:active, .mbutton:active{
  background-color: #DDD;
  box-shadow: 0 0 0px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.24);
}
.mbutton{
  float: right;
  display: inline-block;
  padding: 5px;
  text-align: center;
  margin: 5px;
  border: 1px solid #D3D3D3;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.24);
}
.menubar{
  width: 94%;
  padding: 10px;
  display: inline-block;
  text-align: center;
  border-bottom: 1px solid #D3D3D3;
}
.dbutton{
  float: left;
  display: inline;
  padding: 5px;
  text-align: center;
  margin: 5px;
  border: 1px solid #D3D3D3;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.24);
}
#logout{
}
a.sa{
  display: block;
  color: inherit;
  text-decoration: none;
}
